.aboutContainer {
  padding: 2%;
  height: auto;
}

.aboutDesc {
  color: #c5ccd2;
  height: auto;
}

.skillContainer h4 {
  font-size: 1.2em;
}

.skillContainer, .intro {
  border-radius: 15px;
  margin: 1em 0 1em 1em;
}

.intro, .skillContainer {
    margin: 5em;
}

.intro p, .skillContainer p {
  font-size: 1.2em;
}

.intro p:hover, .skillContainer p:hover {
  color: #ffffff;
}


h2, h4 {
  /* margin-bottom: 1.5em; */
  color: rgb(255, 255, 255);
}

.porfilePic {
    background: url('../images/porfilePic.jpg') no-repeat center center; 
    background-size: cover;
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    margin: 0 auto; 
    /* box-shadow: 0 0 15px 15px #aa6aaa; */
    box-shadow: 0 0 3px 1px #c244e8;
}