.footer-bar {
    position: fixed;
    bottom: 0;
    padding: 2.5%;
    width: 100%;
    height: 100px;
    background-color: #171717;
    text-align: center;
    overflow: hidden;
}

.footer-bar a {
    text-decoration: none;
    margin-right: 10px;
}

.footer-bar a img {
    max-width:120%;
    max-height:120%;
    transition: transform 0.3s ease;
}

.footer-bar a:hover img {
    transform: scale(1.15); 
}

.gitHubDiv, .linkedInDiv, .emailDiv {
    width: 4%;
    height: 100%;
    display: inline-block;
}

.gitHubDiv {
    margin-right: 5%;
}

.emailDiv {
    margin-left: 5%;
}

@media (max-width: 2500px) {
    .footer-bar a img {
        max-width: 220%;
        max-height: 220%;
        background-color: white;
        border-radius: 20%; 
    }
}

@media (max-width: 2000px) {
    .footer-bar a img {
        max-width: 220%;
        max-height: 220%;
        background-color: white;
        border-radius: 20%; 
    }
    .footer-bar {
        padding: 2.5%;
    }
    .gitHubDiv {
        margin-right: 10%;
        /* margin-top: 2%; */
    }
    
    .emailDiv {
        margin-left: 10%;
    }
}

@media (max-width: 1800px) {
    .footer-bar a img {
        max-width: 120%;
        max-height: 120%;
        background-color: white;
        border-radius: 20%; 
    }
}

@media (max-width: 1600px) {
    .footer-bar a img {
        max-width: 120%;
        max-height: 120%;
        background-color: white;
        border-radius: 20%; 
    }
}

@media (max-width: 1450px) {
    .footer-bar a img {
        max-width: 80%;
        max-height: 80%;
        background-color: white;
        border-radius: 20%; 
    }
    .footer-bar {
        padding: 1%;
    }
    .gitHubDiv {
        margin-right: 10%;
        margin-top: 2%;
    }
    
    .emailDiv {
        margin-left: 10%;
    }
}


@media (max-width: 1000px) {
    .footer-bar {
        padding: 4%;
    }
    .footer-bar a img {
        max-width: 80%;
        max-height: 80%;
        background-color: white;
        border-radius: 20%; 
    }
    .gitHubDiv {
        margin-right: 10%;
        margin-top: 2%;
    }
    
    .emailDiv {
        margin-left: 10%;
    }
}

@media (max-width: 610px) {
    .footer-bar a {
        font-size: 0.8em;
    }
    .footer-bar a img {
        max-width: 60%;
        max-height: 60%;
        background-color: white;
        border-radius: 20%; 
    }
    .gitHubDiv {
        margin-right: 10%;
    }
    
    .emailDiv {
        margin-left: 10%;
    }
}

@media (max-width: 700px) {
    .footer-bar a img {
        max-width: 50%;
        max-height: 50%;
        background-color: white;
        border-radius: 20%; 
    }
    .gitHubDiv {
        margin-right: 10%;
    }
    
    .emailDiv {
        margin-left: 10%;
    }
}