.header-bar {
  padding: 10px;
  width: 100%;
  /* background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); */
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  background-color: #563d7c;  
  overflow: hidden;
}

.titleDiv  {
  width: 50%;
  float: left;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.myName {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

.navBar {
  width: 50%;
  float: right;
  font-weight: bold;
  margin: 18px 0;
}

.portfolio, .about, .contact {
  margin: 0 5px 0 5px;
  float: right;
  font-size: 18px;
  text-decoration: none;
  color: #cbbde2;
}

.portfolio:hover, .about:hover, .contact:hover {
  color: #fff;
}


/* .footer-bar a:visited {
  color: #bdc3c7;
}

.footer-bar a.selected,
.footer-bar a:hover,
.footer-bar a:active {
  color: #fdfdfd;
} */

