@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.header-bar {
  padding: 10px;
  width: 100%;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  background-color: #20201E;  
  overflow: hidden;
}

.titleDiv  {
  width: 50%;
  float: left;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  color: purple;
}

.myName {
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important; */
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  font-family: 'Merriweather';
  color: purple;
}

.navBar {
  width: 50%;
  float: right;
  font-weight: bold;
  margin: 18px 0;
}

.portfolio, .about, .contact {
  margin: 0 5px 0 5px;
  float: right;
  font-size: 18px;
  text-decoration: none;
  /* color: #cbbde2; */
  color: purple;
}

.portfolio:hover, .about:hover, .contact:hover {
  color: #fff;
}


.nav-bar a:visited {
  color: #8f7daa;
}

.nav-bar a.selected,
.nav-bar a:hover,
.nav-bar a:active {
  color: #fdfdfd;
}


@media (max-width: 610px) { 
  .myName {
    font-size: 1.2em;
  }
  .portfolio, .about, .contact {
    font-size: 0.7em;
    margin: 0 2px 0 2px;
  }

  .devTitle{
    font-size: 0.5em;
  }

}
