.mainPage {
    text-align: center;
    background-color: #FAF9F6;
    padding: 5%;
    height: 100%;
    position: relative;
    margin-bottom: 5%;
  }
  
  .project {
    color: #50a3a2;
    background-color: #fefeff;
    margin: 0 auto 5%;
    background-color: #000;
    width: 50%;
    position: relative;
    border-radius: 50px;
  }
  
  .bg-light {
    background-color: #f8f9fa!important;
    border: 1px solid #c244e8!important;
    padding: 0 2rem 3rem;
    overflow: hidden;
    box-shadow: 0 0 7px 2px #c244e8;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  }
  
  .img {
    height: 350px;
    max-width: 100%;
    background-size: cover !important;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .bg-light:hover .img {
    transform: scale(0.95);
    opacity: 0.9;
  }
  
  .bg-light:hover {
    transform: scale(1.02);
  }
  
  .img1 {
    background: url('../images/knightchess.jpeg') no-repeat 50%; 
  }
  
  .img2 {
    background: url('../images/discord2.jpeg') no-repeat 50%; 
  }
  
  .img3 {
    background: url('../images/ramen.jpeg') no-repeat 50%; 
  }

  .img4 {
    background: url('../images/scraper.jpeg') no-repeat 50%; 
  }
  
  .live, .live2 {
    float: left;
    clear: both;
  }
  
  .repo, .repo2 {
    float: right;
  }
  
  .live, .live2, .repo, .repo2 {
    text-decoration: none;
    color: #b168c7;
    font-weight: bold;
  }

  .live2, .repo2 {
    pointer-events: none;
  }
  
  .live:hover, .repo:hover {
    background-color: #b168c7;
    color: #fff;
  }
  
  /*Not being activated because pointer events none*/
  .live2:hover, .repo2:hover { 
    background-color:rgba(100,100,100,0); 
    opacity:0;
  }
  
  .projectTitle {
    background: transparent;
    color: white;
  }
  
  .projectDes {
    text-align: center;
    margin: 1rem 0;
    color: #5c6063;
    line-height: 2.4rem;
  }
  
  .techStack {
    margin: 1.5rem 0;
    color: #5c6063;
    line-height: 1.5rem;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .btn-outline-primary {
    color: #b168c7;
    background-color: transparent;
    border-color: #b168c7;
  }
  
  .projectDes, .techStack {
    font-size: 1.2em;
    color: white;
  }
  
  @media (max-width: 610px) { 
    .live, .live2, .repo, .repo2 {
      text-align: center;
      font-size: 0.8em;
      margin-bottom: 0.8em;
      float: none;
      display: block;
    }
  
    .projectTitle {
      font-size: 1.3em;
    }
  
    .projectDes, .techStack {
      font-size: 1em;
    }
  
    .img {
      height: 180px;
    }
  
    .bg-light {
      padding: 0 1rem 2rem;
    }
    
    .mainPage {
        margin-bottom: 15%;
    }
  }
  