.mainPage {
  text-align: center;
  /* background-color: red; */
  padding: 5%;
  height: 100%;
  position: relative;
}

.project {
  color: #50a3a2;
  /* margin: auto; */
  margin: 0 auto 10%;
  background-color: #000;
  width: 50%;
  height: 300px;
  position: relative;
  box-shadow: 0 12px 25px 5px #50a3a2;
}

.img1 {
  height: 100%;
  max-width: 100%;
  background: url('../images/line.png') no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img2 {
  height: 100%;
  max-width: 100%;
  background: url('../images/getwoke.png') no-repeat 50%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img3 {
  height: 100%;
  max-width: 100%;
  background: url('../images/commit.png') no-repeat 50%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.live {
  float: left;
  position: absolute;
  bottom: -17%;
  left: 1%;
}

.repo {
  float: right;
  position: absolute;
  bottom: -17%;
  right: 1%;
}

.live, .repo {
  text-decoration: none;
  color: #50a3a2;
  font-weight: bold;
}

.live:hover, .repo:hover {
  /* color: forestgreen; */
  color: #50a3a2; 
  font-family: 'Courier', cursive;
  font-weight: bold;
  font-size: 20px;
 
}

.projectTitle {
  background: transparent;
}